.Campaign {
  width: 100%;
  display: flex;
  background-size: cover;
}

.Campaign.fantasy {
  background-image: url('../assets/tavern.jpg');
}
.Campaign.scifi {
  background-image: url('../assets/scifi.jpg');
}
.Campaign.wod {
  background-image: url('../assets/wod.jpg');
}
