.CharacterPanel {
  padding: 15px;
  background-color: rgba(200, 200, 200, 0.7);
  flex-grow: 1;
  min-width: 400px;
  width: 40%;
  border-left: 1px solid gray;
}
.closeCharacterPanel {
  position:absolute;
  top: 46px;
  right: 30px;
  color: black;
}
