.thumbnail {
  margin: 15px;
  padding: 15px;
  background-color: rgba(200, 200, 200, 0.7);
  text-decoration: none;
  max-width: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
.name {
  display: block;
  width: 100%;
  color: black;
  font-size: 20px;
  margin: 0;
  font-weight: bold;
  height: 48px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.portrait {
  display: block;
  width: 180px;
}
