.characterList {
  flex-grow: 2;
  height: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: baseline;
  height: calc(100% - 97px);
  overflow-y: scroll;
}
