.form {
  flex-direction: column;
}
.closeForm {
  position:absolute;
  top: 46px;
  right: 30px;
  color: black;
}

.formTitle {
  width: 100%;
}
.formBlock {
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  /* justify-content: space-between; */
  /* align-items: center; */
}
.formBlock label {
  width: 120px;
  font-size: 18px;
}
.formBlock input,
.formBlock textarea,
.formBlock img,
.formBlock select {
  margin: 10px 0;
}

.formBlock input,
.formBlock select {
  max-width: 300px;
}
.formBlock textarea {
  overflow: auto;
  resize: none;
}
.formBlock img {
  width: 180px;
}
.actions button {
  border: none;
  background: none;
  font-size: 16px;
  cursor: pointer;
}
